<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
}
th{
	 background-color: rgb(128, 128, 192);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr{
	border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/js/bootstrap.min.js}" rel="stylesheet" />
</head>
<body>
<h2>Add Product</h2>
<a th:href="@{/productForm}" class="btn btn-primary">ADD</a>


<div style="height:auto; width:70%; margin:0 auto">
	<h2>Product List</h2>
	<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th>Brand</th>
    <th>Image</th>
    <th>Action</th>
  </tr>
  <tr th:each="product: ${productList}">
    <td th:text="${product.id}" ></td>
    <td th:text="${product.name}" ></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.quantity}"></td>
    <td th:text="${product.price*product.quantity}"></td>
    <td th:text="${product.brand}"></td>
    <td>
    <img th:src="${'data:image/png;base64,'+ product.image}" style="height: 100px; width:100px;"/>
    </td>
    
    
    <td><a th:href="@{/edit/{id}(id=${product.id})}" class="btn btn-primary">Edit<a/>
    <a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-danger">Delete<a/></td>
  </tr>
</table>
</div>


</body>
</html>

